<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/05/07 13:02:03 fondemen Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://adaptor" 
       class = "adaptor.AdaptorPackage"
       genModel = "metamodel/adaptor2.genmodel" /> 
  </extension>

</plugin>
