<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/05/16 07:01:05 scheerj Exp $
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://vessie" 
       class = "vessie.VessiePackage"
       genModel = "metamodel/vessie.genmodel" /> 
  </extension>

</plugin>
